.bg
.text-wrapper
    .text-wrapper-inner
        p.watermark SAMPLE
        div.heading __heading__
        div.first-name __first-name__
        div.and-text __and-text__
        div.second-name __second-name__
        div.description __description__
        div.date-text __date-text__
        div.time-text __time-text__
        div.venue-title-text __venue-title-text__
        div.venue-address-text __venue-address-text__
